@import 'variables';


body {
    color: $text-main;
}

h1,
h2 {
    background: linear-gradient(to right, #4242ff, grey, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px;
    text-align: center;
}
.close-btn {

    position: absolute;
    top: 30px;
    right: -10px;
    @media all and (min-width: $lg) {
        top: -20px;
        right: -30px;
    }
    @media all and (max-width: $xs) {
        display: none;
    }
}


#navbarSupportedContent {
    margin-right: 8%;

    @media all and (min-width: $lg) {
        margin-right: 15%;
    }
}

#footer {
    .list-icon {
        flex-wrap: wrap;
        margin: 5px;

        img {
            max-width: 150px;
            max-height: 100px;
            margin: 5px;
        }
        .footer-img-container {
            width: 160px;
        }
        
    }

    @media screen and (min-width: $md)

    /* Medium Screen */
        {
        .list-icon {
            flex-wrap: nowrap;
        }
    }
}