@import 'variables';


body {
    color: $text-main;
}
h1, h2 {
    background: linear-gradient(to right, #4242ff, grey, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px;
    text-align: center;
}


#navbarSupportedContent {
    margin-right: 8%;
}
