@import 'variables';


body {
    color: $text-main;
}

h1,
h2 {
    background: linear-gradient(to right, #4242ff, grey, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px;
    text-align: center;
}


#navbarSupportedContent {
    margin-right: 8%;
}

#footer {
    .list-icon {
        flex-wrap: wrap;
        margin: 5px;

        img {
            max-width: 150px;
            max-height: 100px;
            margin: 5px;
        }
        .footer-img-container {
            width: 160px;
        }
        
    }

    @media screen and (min-width: $md)

    /* Medium Screen */
        {
        .list-icon {
            flex-wrap: nowrap;
        }
    }
}