@import 'variables';


#carou-discipline {
    height: 38vh;

    .card {
        width: 100%;
        background-color: #212529;
        margin: auto;
        border: unset;

    }

    img {
        height: calc(38vh * 0.6);
        object-fit: cover;
    }

}

@media screen and (min-width: 576px)

/* Little Screen */
    {
    #carou-discipline {
        .card {
            width: 75%;
        }
    }

}

@media screen and (min-width: 768px)

/* Medium Screen */
    {

    #carou-discipline {
        height: 45vh;

        img {
            height: calc(45vh * 0.7);
        }
    }

}

@media screen and (min-width: 992px)

/* Large Screen */
    {}


@media screen and (min-width: 1200px)

/* Extra Large Screen */
    {
    #carou-discipline {
        height: 65vh;

        img {
            height: calc(65vh * 0.8);
        }
    }

}